@model List<Food>
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Calorie</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Calorie</td>
        </tr>
    }
</table>
