@model LoginVM
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form asp-controller="Account" method="post">
    <table>
        <tr>
            <th><label asp-for="Email"></label></th>
            <td><input type="email" asp-for="Email" /></td>
        </tr>
        <tr>
            <th><label asp-for="Password"></label></th>
            <td><input type="password" asp-for="Password" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="checkbox" asp-for="RememberMe" /><label asp-for="RememberMe"></label></td>
        </tr>
        <tr>
            <td><input type="submit" value="Login" /></td>
        </tr>
    </table>
</form>